/* common css */

@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/complete/WantedSansVariable.min.css");
@import url("https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.min.css");
@font-face {
  font-family: "ClipartKorea_M";
  src: url(../font/ClipartKorea_Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Wanted Sans Variable";
  overflow-x: hidden;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 특정 폰트 적용 클래스 */
.font_goormsans {
  font-family: "Goorm Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font_clipart {
  font-family: "ClipartKorea_M";
}
/* flex 적용 클래스 */
.row_f {
  display: flex;
  flex-direction: row;
}
.col_f {
  display: flex;
  flex-direction: column;
}